# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_CRADIO36_LEFT

config ZMK_KEYBOARD_NAME
    default "CRADIO36"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_CRADIO36_LEFT || SHIELD_CRADIO36_RIGHT

config ZMK_SPLIT
    default y

endif


