# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_GENERIC_3X6_LEFT
    def_bool $(shields_list_contains,generic_3x6_left)

config SHIELD_GENERIC_3X6_RIGHT
    def_bool $(shields_list_contains,generic_3x6_right)
