# No whitespace after the cA_DUXma or in your part name!
config SHIELD_A_DUX_LEFT
    def_bool $(shields_list_contains,A_DUX_left)

# No whitespace after the cA_DUXma or in your part name!
config SHIELD_A_DUX_RIGHT
    def_bool $(shields_list_contains,A_DUX_right)