# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_hypergarlic_LEFT
	def_bool $(shields_list_contains,hypergarlic_left)

config SHIELD_hypergarlic_RIGHT
	def_bool $(shields_list_contains,hypergarlic_right)
