config ZMK_SPLIT
    default y

if SHIELD_HYPERGARLIC_LEFT
	config ZMK_SPLIT_ROLE_CENTRAL
		default y
	config ZMK_KEYBOARD_NAME
		default "Hyper Garlic"

endif


if SHIELD_HYPERGARLIC_RIGHT

	config ZMK_KEYBOARD_NAME
		default "HYPERGARLIC_right"

	endif

config ZMK_KSCAN_DIRECT_POLLING
	default n


